/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100%;
  background: #e3f2fd;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh; 
  width: 190px; 
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
nav .logo {
  display: flex;
  align-items: center;
  padding: 20px;
}
.logo .menu-icon {
  color: #333;
  font-size: 24px;
  margin-right: 14px;
}
.logo .logo-name {
  color: #333;
  font-size: 20px;
  font-weight: 500;
}
nav .sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 0; /* Remove extra padding from the sidebar */
  background-color: #fff;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
}
.sidebar .sidebar-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 16px;
}
.sidebar-content .list {
  list-style: none;
}
.list .nav-link {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 14px 12px;
  border-radius: 8px;
  text-decoration: none;
}
.lists .nav-link:hover {
  background-color: #4070f4;
}
.nav-link .icon {
  margin-right: 14px;
  font-size: 18px;
  color: #707070;
}
.nav-link .link {
  font-size: 14px;
  color: #707070;
  font-weight: 400;
}
.lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
  color: #fff;
}
.overlay {
  display: none;
}
