body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 200px;
    background-color: #f4f4f4;
    height: 100vh;
    float: left;
    padding: 20px;
}

.main-content {
    margin-left: 190px; /* Adjust this value according to the sidebar width */
    padding: 20px;
}

header {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

h1, h2 {
    margin-top: 0;
}

.remark {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #e9f7fd;
}

.remark.info {
    border-left: 5px solid #007bff;
}

.remark.warn {
    border-left: 5px solid #ff0000;
}

.total-price {
    font-size: 1.2em;
    text-align: right;
    margin-right: 10px;
}

.btn.btn  {
    padding: 5px 10px;
    font-size: 11px;
    width: auto;
    max-width: 150px;
    white-space: nowrap;
}

.btn-big {
    font-size: 15px !important;
    max-width: none !important;
}

.table td {
    font-size: 15px;
}

.input[type=number] {
    width: 50px !important;
    padding: 12px 20px !important;
    margin: 8px 0 !important;
    box-sizing: border-box;
}